<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title th:text="#{review.reviewsFor} + ' ' + ${movie.titleYear}">Reviews</title>
</head>
<body>
<div th:replace="components/header"></div>


<div style="display: flex; justify-content: center; align-items: center">
    <div style="width: 80%">
        <div style="display: flex; justify-content: center; align-items: center; flex-direction: column">
            <div class="card" style="width: 18rem; margin-bottom: 20px">
                <a th:href="@{'/guest/movie/'+${movie.id}}"> <img class="card-img-top"
                                                                  th:src="@{'data:image/'+${movie.getFirstImage().getFormat()}+';base64,'+${movie.getFirstImage().getBase64()}}"
                                                                  th:alt="${movie.getFirstImage().getFileName()}">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${movie.titleYear}">Movie title</h5>
                    </div>
                </a>
            </div>

            <a th:unless="${userReview!=null}" type="button" class="btn btn-primary btn-lg"
               th:href="@{'/user/review/write/' + ${movie.id}}"> <span th:text="#{review.write}">Write a review</span>
            </a>
        </div>
        <div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div th:if="${userReview!=null}" class="card">
                        <h4 class="card-header" th:text="${userReview.title}">
                            Title </h4>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p th:text="${userReview.body}">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Integer posuere erat a ante.</p>
                                <footer class="blockquote-footer"><span
                                        th:text="${userReview.rating}+' stars from '"></span> <cite
                                        title="Source Title">You :)</cite>
                                </footer>
                            </blockquote>
                            <a th:href="@{'/user/review/delete/'+${userReview.id}}" class="card-link"
                               th:text="#{review.delete}">Remove review</a> <a
                                th:href="@{'/user/review/write/'+${movie.id}}" class="card-link"
                                th:text="#{review.edit}">Edit review</a>
                        </div>
                    </div>
                </li>
                <li class="list-group-item" th:each="review:${reviews}">
                    <div class="card">
                        <h4 class="card-header" th:text="${review.title}">
                            Title </h4>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p th:text="${review.body}">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Integer posuere erat a ante.</p>
                                <footer class="blockquote-footer"><span
                                        th:text="${review.rating}+' stars from '"></span> <cite title="Source Title"
                                                                                                th:text="${review.author.name}">Author</cite>
                                </footer>
                            </blockquote>
                            <a th:if="${credentials!=null && credentials.isAdmin()}"
                               th:href="@{'/admin/review/delete/'+${review.id}}" class="card-link"
                               th:text="#{review.delete}">Remove review</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <a type="button" class="btn btn-secondary btn-lg" style="margin-bottom: 100px" th:href="@{'/guest/movie/' + ${movie.id}}"> <span
                th:text="#{movie.backTo}">back to the movie</span> </a>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>