<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{artist.addArtist}"></title>
</head>
<body>

<h1 th:text="#{artist.addArtist}"></h1>

<div>
  <form th:action="@{/createArtist}" method="post" th:object="${artist}" enctype="multipart/form-data">
    <div th:if="${#fields.hasGlobalErrors()}">
      <p th:each="err:${#fields.globalErrors()}" th:text="${err}"></p>
    </div>
    <div>
      <label><span th:text="#{artist.insertFirstName}">FirstName here</span>
        <input type="text" th:field="${artist.firstName}" required>
      </label>
      <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
    </div>
    <div>
      <label> <span th:text="#{artist.insertLastName}">LastName here</span>
        <input type="text" th:field="${artist.lastName}" required>
      </label>
      <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
    </div>
    <div>
      <label> <span th:text="#{artist.insertBirthday}">Birthday here</span>
        <input type="date" th:field="${artist.birthday}" required>
      </label>
      <span th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></span>
    </div>
    <div>
      <label> <span th:text="#{artist.insertImage}">Image here</span>
        <input type="file" name="file" required accept="image/jpeg, image/jpg, image/png">
      </label>
    </div>
    <button type="submit" th:text="#{confirm}"></button>
    <a th:href="@{/}">
      <button type="button" th:text="#{cancel}"></button>
    </a>
  </form>
</div>
</body>
</html>