<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{movie.addMovie}"></title>
</head>
<body>

<h1 th:text="#{movie.addMovie}"></h1>

<div>
    <form th:action="@{/createMovie}" method="post" th:object="${movie}" enctype="multipart/form-data">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p th:each="err:${#fields.globalErrors()}" th:text="${err}"></p>
        </div>
        <div>
            <label><span th:text="#{movie.insertTitle}">Title here</span>
                <input type="text" th:field="${movie.title}" required>
            </label>
            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
        </div>
        <div>
            <label> <span th:text="#{movie.insertReleaseDate}">Release Date here</span>
                <input type="date" th:field="${movie.releaseDate}" required>
            </label>
            <span th:if="${#fields.hasErrors('releaseDate')}" th:errors="*{releaseDate}"></span>
        </div>
        <div>
            <label> <span th:text="#{movie.insertImage}">Image here</span>
                <input type="file" name="files" required accept="image/jpeg, image/jpg, image/png" multiple>
            </label>
        </div>
        <button type="submit" th:text="#{confirm}"></button>
        <a th:href="@{/}">
            <button type="button" th:text="#{cancel}"></button>
        </a>
    </form>
</div>

</body>
</html>