<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>SIW movie</title>
</head>
<body>

<div>
    <h2 th:text="#{home.recentMovies}"></h2>
    <a th:href="@{/createMovie}" th:text="#{home.addMovie}"></a>
    <ul th:each="movie : ${latestMovies}">
        <li>
            <a th:href="@{'/retrieveMovie/'+${movie.getId()}}">
                <div th:text="${movie.title} + ' ('+${movie.getYear()}+')'"></div>
                <img th:src="@{'data:image/'+${movie.getFirstImage().getFormat()}+';base64,'+${movie.getFirstImage().getBase64()}}" width="100">
            </a>
        </li>
    </ul>
</div>

</body>
</html>