<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="${artist.getFullName()}"></title>
</head>
<body>

<p th:if="${errorMessage}" th:text="#{${errorMessage}}"></p>

<h1 th:text="${artist.getFullName()}"></h1>
<div th:text="#{artist.bornOn} +' '+ ${#dates.format(artist.birthday,'dd-MM-2023')}"></div>
<div>
    <img th:src="@{'data:image/'+${artist.picture.getFormat()}+';base64,'+${artist.picture.getBase64()}}" width="100">
    <form th:action="@{/changeArtistPicture}" method="post" enctype="multipart/form-data">
        <div th:if="${errorMessage}" th:text="#{${errorMessage}}">
        </div>
        <div>
            <label> <span th:text="#{artist.changeImage}">Image here</span>
                <br>
                <input type="file" name="file" required accept="image/jpeg, image/jpg, image/png">
            </label>
            <input type="hidden" th:value="${artist.id}" name="artistId">
        </div>
        <button type="submit" th:text="#{artist.addImage}"></button>
    </form>
</div>
<div>
    <h3 th:text="#{artist.directedMovies}"></h3>
    <ul>
        <li th:each="movie:${artist.directedMovies}">
            <a th:text="${movie.titleYear}" th:href="@{'/retrieveMovie/'+${movie.id}}"></a>
        </li>
    </ul>
</div>
<div>
    <h3 th:text="#{artist.actedMovies}"></h3>
    <ul>
        <li th:each="movie:${artist.actedMovies}">
            <a th:text="${movie.titleYear}" th:href="@{'/retrieveMovie/'+${movie.id}}"></a>
        </li>
    </ul>
</div>
<div>
    <a th:text="#{artist.delete}" th:href="@{'/deleteArtist/' + ${artist.id}}"></a>
    <a th:text="#{home.returnTo}" th:href="@{/}"></a>
</div>

</body>
</html>